/* for all elements */
*{
    box-sizing: border-box;
 }
/* for container */
 .container
 {
     width: 400px; 
     overflow:hidden; 
     margin:50px auto 0 auto;
 }

 /* for each boxes in the container */
 .container .box
 {
     float: left; 
     width: 100px; 
     height: 100px; 
     border:2px solid maroon;
     background: peachpuff;
     transition: all .25s ease-in-out; 
     font-family: sans-serif;     
     font-size: 85px; 
     text-align: center; 
     line-height: 100px; 
     cursor: pointer;
     
}

/* for box hover */
.container .box:hover
{
    background:white; 
    color: rgb(255, 146, 4);
}
/* for play section */
.container span
{
    width: 81%; 
    display: block; 
    text-align: center;
    font-family: sans-serif; 
    color: red; 
    font-size: 25px;
    background: white;
}
/* for win boxes*/
.win
{
    background: rgb(245, 190, 11); 
    color: green;
}
/* for button */
button
{
    border: 2px solid saddlebrown;
    margin: 20px auto;
    background: none;
    margin-left: 85px;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    transition: 1s;
    color: brown;
    position: relative;
    overflow: hidden;
}
button:hover
{
    color: white;
}
button::before
{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: sienna;
    z-index: -1;
    transition: 1s;
    bottom: 0;
    border-radius: 20%;
}
button:hover::before
{
    height: 100%;
    
}
/* for header */
.jumbotron
{
    /* background-color: goldenrod;  */
    background-image: linear-gradient(to right,coral,maroon);
    color: white;
}
/* for body background */
body{
     background-image: linear-gradient(sandybrown,navajowhite,sandybrown); 
    
}

